body {
    background-image: linear-gradient(to right, rgb(2, 203, 253), rgb(223, 236, 236));
    margin: 0;
}

.container {
    width: 40%;
    padding: 25px 50px;
    margin: 10px auto;
    background-color: rgb(255, 251, 251);
    border-radius: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerList {
    width: 40%;
    padding: 25px 50px;
    margin: 10px auto;
    background-color: rgb(255, 251, 251);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    color: red;
    text-align: center;
}

#addinput {
    width: 90%;
    height: 25px;
    border-radius: 200px;
    text-indent: 20px;
    outline: none;
}

.button {
    display: inline-flex;
    padding: 0;
    outline: none;
    background-color: #fff;
    border: none;
    font-size: 30px;
    text-align: center;
    float: right;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

.checkboxinput {
    width: 20px;
    height: 20px;
}

label {
    font-size: 20px;
    color: black;
    font-weight: bolder;
    padding-left: 20px;
}

.completed {
    text-decoration: line-through;
    color: rgba(77, 67, 67, 0.555);
}